DirectX12 MainProject/DirectX12 Main.vcxproj
DirectX12 MainProject/DirectX12 Main.vcxproj.filters
DirectX12 MainProject/DirectX12 Main.vcxproj.user
DirectX12 MainProject/x64/Debug/DirectX12 Main.tlog/rc.write.1.tlog
DirectX12 MainProject/x64/Debug/DirectX12 Main.tlog/rc.read.1.tlog
DirectX12 MainProject/x64/Debug/DirectX12 Main.tlog/rc.command.1.tlog
DirectX12 MainProject/x64/Debug/DirectX12 Main.tlog/link.write.1.tlog
DirectX12 MainProject/x64/Debug/DirectX12 Main.tlog/link.read.1.tlog
DirectX12 MainProject/x64/Debug/DirectX12 Main.tlog/link.command.1.tlog
DirectX12 MainProject/x64/Debug/DirectX12 Main.tlog/DirectX12 Main.lastbuildstate
DirectX12 MainProject/x64/Debug/DirectX12 Main.tlog/CopyLocal.write.1u.tlog
DirectX12 MainProject/x64/Debug/DirectX12 Main.tlog/CopyLocal.read.1u.tlog
DirectX12 MainProject/x64/Debug/DirectX12 Main.tlog/CL.write.1.tlog
DirectX12 MainProject/x64/Debug/DirectX12 Main.tlog/CL.read.1.tlog
DirectX12 MainProject/x64/Debug/DirectX12 Main.tlog/CL.command.1.tlog
DirectX12 MainProject/x64/Debug/vc142.pdb
DirectX12 MainProject/x64/Debug/vc142.idb
DirectX12 MainProject/x64/Debug/resource.res
DirectX12 MainProject/x64/Debug/pch.obj
DirectX12 MainProject/x64/Debug/MainScene.obj
DirectX12 MainProject/x64/Debug/Main.obj
DirectX12 MainProject/x64/Debug/GameBase.obj
DirectX12 MainProject/x64/Debug/DirectX12 Main.vcxproj.FileListAbsolute.txt
DirectX12 MainProject/x64/Debug/DirectX12 Main.vcxproj.CopyComplete
DirectX12 MainProject/x64/Debug/DirectX12 Main.log
DirectX12 MainProject/x64/Debug/DirectX12 Game Solution_manifest.rc
DirectX12 MainProject/x64/Debug/DirectX12 Game Solution.pch
DirectX12 MainProject/x64/Debug/DirectX12 Game Solution.exe.recipe
DirectX12 MainProject/x64/Debug/DirectX12 Game Solution.exe.embed.manifest.res
DirectX12 MainProject/x64/Debug/DirectX12 Game Solution.exe.embed.manifest
DirectX12 MainProject/Resource/settings.manifest
DirectX12 MainProject/Resource/resource.rc
DirectX12 MainProject/Resource/directx.ico
DirectX12 MainProject/Base/StepTimer.h
DirectX12 MainProject/Base/pch.h
DirectX12 MainProject/Base/pch.cpp
DirectX12 MainProject/Base/Main.cpp
DirectX12 MainProject/Base/DXTKHelpers.h
DirectX12 MainProject/Base/dxtk.h
DirectX12 MainProject/Base/DirectMLX.h
DirectX12 MainProject/Base/d3dx12.h
DirectX12 MainProject/packages.config
DirectX12 MainProject/Scene.h
DirectX12 MainProject/SceneFactory.h
DirectX12 MainProject/TemplateScene.cpp
DirectX12 MainProject/TemplateScene.h
DirectX12 MainProject/TemplateSceneDX9.cpp
DirectX12 MainProject/TemplateSceneDX9.h
